#game{
    background-image: url('https://opengameart.org/sites/default/files/bg_02_h.png');
    height: 500px;
    width: 900px;
    background-size: cover;
   background-position: bottom;
    border: 8px outset purple;
    overflow: hidden;
    position: relative;
    margin-left: 10%;
    margin-top: 5%;
}

body{
    background-color: black;
}

#pipe1{
    position: absolute;
    width: 50px;
    height: 50%;
    transform: rotate(180deg);
    background-image: url(https://fsb.zobj.net/crop.php?r=awheJcGevS6MUBYVfDVPsGXbXHUzrID9yngbMq_bCwawmns8d1Ylh49rj_lIVAupYseVOaJeALS_HtFYQ12TRxBGGcDETrK8LMPDO50MEHbQ40rT_6EKEaB4XD__HSCOrkMwEEKvPQkihO1ffe4zMG3P89ez2zeksNffGUeuTz7p7jr3G6PR74NhCAB85EMt5P-tGp_-zvVk1Vc8);

}

#pipe2{
    position: absolute;
    width: 50px;
    height: 20%;
    top: 80%;
    background-image: url(https://fsb.zobj.net/crop.php?r=awheJcGevS6MUBYVfDVPsGXbXHUzrID9yngbMq_bCwawmns8d1Ylh49rj_lIVAupYseVOaJeALS_HtFYQ12TRxBGGcDETrK8LMPDO50MEHbQ40rT_6EKEaB4XD__HSCOrkMwEEKvPQkihO1ffe4zMG3P89ez2zeksNffGUeuTz7p7jr3G6PR74NhCAB85EMt5P-tGp_-zvVk1Vc8);
}
.obs{
    left: 95%;
    animation: move 3s ease-in-out infinite;
    background-repeat: no-repeat;
    background-size: cover;

}

#ufo{
    position: absolute;
    top: 200px;
    left: 90px;
}

#ufo img{
    height: 50px;
    width: 50px;
}

#score{
    font-family: fantasy;
    color: white;
    font-size: x-large;
    font-weight: bolder;
    margin-left: 2%;
    margin-top: 2%;
}

@keyframes move {
    0%{
        left: 100%;
    }
    100%{
        left: -7%;
    }
}